/* Style format for questions, experimented with links to other branches, but I couldn't figure out how to make it work
so this code is pointless and doesn't do anything */
header {
  background-color: #bf5700; 
  color: white;
  padding: 20px;
  text-align: center;
}


button {
  background-color: #bf5700; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #f77f00;
}
